#gitePage {
  h1 {
    font-size: 2rem;
  }
  padding-top: 1rem;
  .jumbotron {
    display: contents;
    img {
      margin-bottom: 1rem;
      width: 100%;
      border-radius: .3rem;
    }
    .button_banner {
      display: none;
      margin: 1rem auto 0;
    }
    h2 {
      font-size: 1.75rem;
      margin: 0;
      padding: 0;
    }
  }
  .card {
    text-align: center;
    margin: 1rem .5rem;
    border: 1px solid $vertgris;

    .card_img {
      width: auto;
      height: 200px;
    }
    .card_button {
      display: flex;
      margin: 1rem auto;
      .btn {
        margin: auto;
      }
    }
    h2 {
      font-size: 1.75rem;
      margin: 0 0 .5rem 0;
      padding: 0;
    }
    p {
      text-align: left;
    }
  }
  .card_small {
    height: 700px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #gitePage {
    .jumbotron {
      background: #C3CDBA;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 4rem 2rem 1rem 2rem;
      img {
        width: 100%;
        border-radius: .3rem;
      }

      .button_banner {
        display: block;
        margin: 1rem auto 0;
      }

      h2 {
        font-size: 1.75rem;
        margin: 0;
        padding: 0;
      }
    }
    .card {
      h2 {
        margin-bottom: 1rem;
      }
    }
    .card_small {
      height: 650px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}