header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  background: url('./../img/header_banner.jpg') no-repeat center;
  background-size: cover;
  margin-bottom: 2rem;

  .logo img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 120px;
  }
}

nav {
  display: flex;
  justify-content: space-around;

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li.active ul {
      position: absolute;
      display: block;
      opacity: 1;
      background: #6182B2;
      color: #999;
      width: max-content;
      z-index: 2;
    }

    li {
      list-style: none;
      position: relative;

      i {
        line-height: auto;
        margin-left: .25rem;
      }

      ul {
        position: absolute;
        display: block;
        width: max-content;
        transition: .75s linear;
        opacity: 0;

        li {
          width: 100%;
          border-bottom: 1px solid rgba($color: #000, $alpha: 0.3);
        }
      }

      a {
        height: 50px;
        font-size: 1.5rem;
        line-height: 50px;
        padding: 0 20px;
        color: #fff;;
        text-decoration: none;
        display: block;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        &:hover,
        .active {
          color: #333;
          background: $vertgris;
        }
      }
    }
  }
}

#menu-toggle {
  position: absolute;
  background: #333;
  color: #fff;
  top: .5rem;
  right: 1rem;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: .3rem;
  display: none;
}

@media (max-width: 767px) {
  header {
    background: url('./../img/header_banner-mobil.jpg') no-repeat center;
    height: 150px;
    .logo img {
      width: 60px;
      top: .5rem;
    }
  }

  nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: .75s ease-in;

    ul {
      display: block;
      text-align: center;
      width: 100%;
      li.active ul {
        position: relative;
        width: 100%;
        background: #6182B2;
        color: #999;
      }
      li {
        ul {
          width: 100%;
        }
        a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  #menu-toggle {
    display: block;
  }

  nav.active {
    left: 0;
    z-index: 2;
  }
}
