header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  background: url('./../img/banner2.jpg') no-repeat center;

  .logo img {
    height: 100px;
    float: left;
  }
}

nav {
  display: flex;
  justify-content: space-around;

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li.active ul {
      position: relative;
      display: block;
      opacity: 1;
      background: greenyellow;
      width: max-content;
    }

    li {
      list-style: none;
      position: relative;

      i {
        line-height: auto;
        margin-left: .25rem;
      }

      ul {
        position: absolute;
        display: block;
        background: greenyellow;
        width: max-content;
        transition: .75s linear;
        opacity: 0;

        li {
          width: 100%;
        }
      }

      a {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        color: orangered;
        text-decoration: none;
        display: block;

        &:hover,
        .active {
          color: #333;
          background: red;
        }
      }
    }
  }
}

#menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991px) {
  header {
    padding: 0 2rem;
  }

  nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: .75s ease-in;

    ul {
      display: block;
      text-align: center;

      li {
        a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  #menu-toggle {
    display: block;
  }

  nav.active {
    left: 0;
  }
}
