section#main {
  padding: 5px;
  width: 100%;
  background: #fff;
}

section#main .container {
  width: 100%;
  /*min-height:550px;*/
  padding-bottom: 10px;
  margin-bottom: 10px;
}

section#main .container .jumbotron {
  background: #C3CDBA;
  /*height:200px;*/
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  color: #000;
}

section#main .container .jumbotron img {
  width: 100%;
  margin: 10px auto;
}

section#main .container section.activities-container {
  border-radius: 4px;
  background: #C3CDBA;
  /*818B7D ;*/
  /*height:500px;*/
  width: 100%;

}

section#main .container section.activities-container h2 {
  /*text-indent: 10px;*/
  padding: 10px;
  background: #fff;
  width: 100%;
  border: 3px solid #C3CDBA;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
}

.activite-element {
  background: #fff;
  padding: 10px;
  margin: 5px 10px;

}

.contact-element-container {
  margin: 5px auto;
}

.contact-element {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  text-indent: 10px;
}

.icon-contact-element {
  content: " ";
  display: block;
  float: left;
  background: #76B38F;
  width: 50px;
}

.text-muted {
  color: #0286E7 !important;
  /* #14bc03 */
}
.mentions-container {
  padding: 25px !important;
}

.mentions-container h1 {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.mentions-container h2 {
  font-size: 1.3em;
}

.mentions-container h3 {
  font-size: 1.2em;
}

.mentions-container pre {
  width: 100%;
}

.mentions-container p {
  color: #333;
}
.activite-element {
  background: #fff;
  margin: 5px 10px;
  padding: 0;
  overflow: hidden;
}

.activite-element a {
  text-decoration: none;
}

.activite-inside-element {
  padding: 10px;
  background-repeat: no-repeat;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  height: 150px;
  line-height: 130px;
  background-size: cover;
  background-position: center;
  transition: all .5s;
}


.activite-element span {
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;

}

.activite-element-accrobranche .activite-inside-element {
  background-image: url("../img/banneracro.jpg");
}

.activite-element-escalade .activite-inside-element {
  background-image: url("../img/bannerclimb.jpeg");
}

.activite-element-pedalo .activite-inside-element {
  background-image: url("../img/bannerpedalo.png");
}

.activite-element-ferme .activite-inside-element {
  background-image: url("../img/bannerferme.jpg");
}

/****** Smartphones M ******/
@media (max-width:375px) {}

/****** Smartphones L ******/
@media (max-width:425px) {

  section#main {
    padding: 5px;
    width: 100%;
  }

  section#main .container {
    width: 100%;
    /*min-height:550px;*/
  }
}

@media (min-width: 768px) {

  .btn-accueil-gites a i {
    opacity: 1 !important;
    position: relative;
    background: #fff;
    color: #7d8c9b;
    height: var(--hauteur-bouton);
    line-height: var(--hauteur-bouton);
    padding: 0 7px;
    float: right;
  }
}

/****** Large devices (desktops, 992px and up) ******/
@media (min-width: 992px) {

  section#main {
    background: #fff;
    width: 100%;
    padding: 25px;
  }

  section#main .container {
    width: 1200px;
    /*min-height:550px;*/

  }

  section#main .container .jumbotron {
    background: #C3CDBA;
    /*height:200px;*/
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    color: #000;
  }

  section#main .container .jumbotron img {
    width: 100%;
    margin: 10px auto;
  }

  section#main .container section.activities-container {
    border-radius: 4px;
    background: #C3CDBA;
    /*height:500px;*/
    width: 100%;
  }

  section#main .container section.activities-container h2 {
    /*text-indent: 10px;*/
    padding: 10px;
    background: #fff;
    width: 100%;
    border: 3px solid #C3CDBA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
  }

  .activities-container .row {
    width: 100%;
  }

  .pre-footer {
    background: #49524E;
    width: 100%;
    height: 70px;
  }
}

.gite-row {
  padding: 10px 10px 0 10px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.gite-element-head {
  text-align: center;
  line-height: 90px;
  font-weight: bold;
  font-size: .95em;
}

.gite-element-tab {
  line-height: 28px;
}

.gite-tarif-element {
  text-align: center;
  /*background: #333;*/
  color: #333;
  font-weight: bold;
  margin: 0;
}

.gite-tarif-element img {
  width: 100%;
  padding: 10px;
  margin-left: -14px;
}

.table,
th,
td {
  border: 1px solid #000 !important;
}

.table {
  font-size: .8em;
  text-align: center;
}

caption {
  caption-side: top;
}

.table-responsive {
  width: 100% !important;
  display: table;
}

.pricing-table {
  height: 100px;
  table-layout: fixed;
}

.pricing-table th {
  font-size: .85em;
}

.pricing-table .thead-dark th {
  color: #000;
  height: 20px !important;
  background: #84bfd7 !important;
}

.pricing-table th,
.pricing-table td {
  border: 1px solid #395745 !important;
  text-align: center;

}

.pricing-table .td-gite {
  text-align: left;
  line-height: 80px;
}

.pricing-table .td-gite:before {
  display: block;
  content: "";
  width: 160px;
  height: 80px;
  background: #fff;
  background-repeat: no-repeat;
  float: left;
  margin-right: 20px;

}

.pricing-table .gite-idefix:before {
  background: url("../img/tarifs/idefix.jpg");
}

.pricing-table .gite-babe:before {
  background-image: url("../img/tarifs/babe.jpg");
}

.pricing-table .gite-garfield:before {
  background-image: url("../img/tarifs/garfield.jpg");
}

.pricing-table .gite-jolly-jumper:before {
  background-image: url("../img/tarifs/jolly-jumper.jpg");
}

.pricing-table .gite-saturnin:before {
  background-image: url("../img/tarifs/saturnin.jpg");
}

.pricing-table .gite-tornado:before {
  background-image: url("../img/tarifs/tornado.jpg");
}

.pricing-table td {
  vertical-align: middle;
}

.pricing-table .td-gite-odd {
  background: #fff;
}

span.gite-tarif-semaine::after {
  content: "Sem";
  display: contents;
}

span.gite-tarif-weekend::after {
  content: "W.E";
  display: contents;
}

.tarif-activite-element {
  height: 150px;
  margin: 0;
  background-repeat: no-repeat;
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  background-size: cover;
  background-position: center;
}

.tarif-activite-text {
  margin: 0;
  padding: 10px;
}

.tarif-accrobranche {
  background-image: url("../img/banneracro.jpg");
}

.tarif-escalade {
  background-image: url("../img/bannerclimb.jpeg");
}

.tarif-pedalo {
  background-image: url("../img/bannerpedalo.png");
}

.tarif-ferme-pedagogique {
  background-image: url("../img/bannerferme.jpg");
}

.tarif-activite-element span {
  height: 30px;
  line-height: 30px;
  background: #333;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  font-size: .7em;
}

.gite-tarif-title span.gite-title {
  height: 30px;
  line-height: 30px;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 1.5em;
}

.gites-element {
  background: #fff;
  padding: 10px;
}

.gite-element img {
  width: 100%;
}

.gite-element div {
  width: 100%;
  background: #84bfd7;
  /*8fd7ac*/
  color: #000;
  text-align: center;
}

@media (min-width: 992px) {
  .gite-tarif-element img {
    width: 120px;
  }

  span.gite-tarif-semaine::after {
    content: "Semaine";
    display: contents;
  }

  span.gite-tarif-weekend::after {
    content: "WeekEnd";
    display: contents;
  }
}