footer {
  background: #404746;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

footer i {
  color: #eee;
}

.wg-creditCard {
  margin-top: 10px;
}

.wg-creditCard div p {
  font-size: 13px;
  color: white;
}

.wg-creditCard div p a {
  color: white;
}

.menuF a {
  color: black;
  display: block;
  width: 100%;
}

.menuF2 a {
  color: black;
  display: block;
  width: 100%;
}

.card-body {
  padding: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-left: 10px;
}

footer ul a {
  border-bottom: 1px solid #0286E7;
}

footer ul a:hover {
  border-bottom: 1px solid #14bc03;
  font-size: 20px;
}

.containerI {
  margin-bottom: 5px;
}

footer form p {
  margin: 0 0 15px 0;
  padding: 0;
  color: #555;
  font-style: italic;
  font-size: 14px;
}

footer form {
  width: 428px;
  margin: auto;
  padding: 50px;
}

#accordion {
  width: 50%;
}

#modal input {
  font-family: 'PT Sans Narrow';
  font-size: 20px;
}

.wg-info {
  display: inline-block;
  margin-right: 5px;
}

.wg-info input {
  display: block;
  width: 300px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 12px 10px;
  background: #fff;
}

.wg-info input {
  display: block;
  width: 300px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 12px 10px;
  background: #fff;
}

.wg-info input[type=radio] {
  display: block;
  display: inline;
  width: 50px;
  color: white;

}

.wg-info input:last-child {
  margin: 0;
}

.wg-info input:focus {
  background: #eee;
  outline: none;
}

#modal input[type="submit"] {
  vertical-align: top;
  height: 33px;
  width: 96px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: #14bc03;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 30px;
}

#modal input[type="submit"]:hover {
  background-color: #0286E7;
}

#modal {
  display: none;
  width: 500px;
  background-color: #F7F7F7;
  color: black;
  position: fixed;
  left: 25%;
  top: 25%;
  border: 4px solid #0286E7;
}

#close {
  position: absolute;
  top: 5px;
  right: 5px
}