* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 14px;
  font-family: "K2D", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1, h2 {
  font-family: "Mali", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin: 0 auto 1rem;
  padding-top: 1rem;
  color: #333;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) {
  h1 {
    font-size: 1.15rem;
  }

  h2 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 1.45rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.45rem;
  }
}
header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 100px;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  background: url("./../img/header_banner.jpg") no-repeat center;
  background-size: cover;
}
header .logo img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li.active ul {
  position: absolute;
  display: block;
  opacity: 1;
  background: #6182B2;
  color: #999;
  width: max-content;
}
nav ul li {
  list-style: none;
  position: relative;
}
nav ul li i {
  margin-left: 0.25rem;
}
nav ul li ul {
  position: absolute;
  display: block;
  width: max-content;
  transition: 0.75s linear;
  opacity: 0;
}
nav ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a {
  height: 50px;
  font-size: 1.5rem;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  border-radius: 0.3rem;
}

.text-muted {
  color: #0286E7 !important;
  /* #14bc03 */
}
.mentions-container{
  padding:25px !important;


}
.mentions-container h1{
  font-size:2em;
  width:100%;
  text-align: center;
}
.mentions-container h2, .mentions-container h3{
  text-align: left;
  font-weight: bold;
}
.mentions-container h2{
  font-size:1.3em;
}

/****** CSS WILLY ******/
/****** FOOTER ******/
footer{
  background:#404746;
  width : 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer i {
  color: #eee;
}
.wg-creditCard {
  margin-top: 10px;
}
.wg-creditCard div p {
  font-size: 13px;
  color: white;
}
.wg-creditCard div p a {
  color: white;
}
.menuF a {
  color: black;
  display: block;
  width: 100%;
}
.menuF2 a {
  color: black;
  display: block;
  width: 100%;
}
.card-body {
  padding: 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-left: 10px;
}
footer ul a  {
  border-bottom: 1px solid #0286E7;
}
footer ul a:hover {
  border-bottom: 1px solid #14bc03;
  font-size: 20px;
}
.containerI {
  margin-bottom: 5px;
}
footer form p {
  margin: 0 0 15px 0;
  padding: 0;
  color: #555;
  font-style: italic;
  font-size: 14px;
}

footer form {
  width: 428px;
  margin:  auto;
  padding: 50px;
}

#modal input {
  font-family: 'PT Sans Narrow';
  font-size: 20px;
}

.wg-info {
  display: inline-block;
  margin-right: 5px;
}

.wg-info input {
  display: block;
  width: 300px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 12px 10px;
  background: #fff;
}
.wg-info input {
  display: block;
  width: 300px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 12px 10px;
  background: #fff;
}

.wg-info input[type=radio] {
  display: block;
  width: 50px;
  color: white;

}

.wg-info input:last-child {
  margin: 0;
}

.wg-info input:focus {
  background: #eee;
  outline: none;
}

#modal input[type="submit"] {
  vertical-align: top;
  height: 33px;
  width: 96px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: #14bc03;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 30px;
}
#modal input[type="submit"]:hover {
  background-color: #0286E7;
}
#modal {
  display: none;
  width: 500px;
  background-color: #F7F7F7;
  color: black;
  position: fixed;
  left: 25%;
  top: 25%;
  border: 4px solid #0286E7;
}
#close {
      position: absolute;
      top: 5px;
      right: 5px
}

/****** END-CSS WILLY ******/
/****** END-FOOTER ******/
.text-muted{
  color:#0286E7 !important; /* #14bc03 */
}
.mentions-container h3{
  font-size:1.2em;
}
.mentions-container pre{
  width:100%;
}
.mentions-container p{
  color:#333;
}

.mentions-container {
  padding: 25px !important;


}

.mentions-container h1 {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.mentions-container h2 {
  font-size: 1.3em;
}

.mentions-container h3 {
  font-size: 1.2em;
}

.mentions-container pre {
  width: 100%;
}
nav ul li a:hover,
nav ul li a .active {
  color: #333;
  background: #A5D0B6;
}

#menu-toggle {
  position: absolute;
  background: #333;
  color: #fff;
  top: .5rem;
  right: 1rem;
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: .3rem;
  display: none;
}

/****** Smartphones M ******/
@media (max-width: 375px) {
  .gite-tarif-title span.gite-title{
    font-size:1em;
  }
  .pricing-table td{
    font-size:.9em;
  }
  .btn-accueil-gites a{
    font-size: 1.2em;
  }
  .activite-inside-element{
    position: relative;
  }
  #modal {
    display: none;
    width: 500px;
    background-color: rgb(139, 139, 139);
    color: rgb(206, 206, 206);
    position: fixed;
    left: 0;
    top: 100px;
  }

  .activite-element span {
    font-size: .9em;
    line-height:100%;
    position:absolute;
    top:0;
    left:0;
  }
}


/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wg-creditCard div p  {
    text-align: center;
  }
  footer .wg-creditCard i {
    font-size: 40px;
  }
}

/****** Large devices (desktops, 992px and up) ******/
@media (min-width: 992px) {

/****** Smartphones L ******/
@media (max-width: 425px) {
  section#main {
    padding: 5px;
    width: 100%;
  }

  section#main .container {
    width: 100%;
    /*min-height:550px;*/
  }
  section#main .container h1{
    font-size:2em;
    text-align: left;
  }
  .table-responsive{
    font-size:.9em;
  }
  .gite-element-head{
    line-height:20px;
    font-weight: bold;
    font-size: 1.1em;
  }

  .btn-accueil-gites a i{
    opacity: 1;
    position : relative;
    background: #fff;
    color:#7d8c9b;
    height:var(--hauteur-bouton);
    line-height: var(--hauteur-bouton);
    padding : 0 7px;
    float:right;
  }
}

@media (max-width: 767px) {
  header {
    background: url("./../img/header_banner-mobil.jpg") no-repeat center;
    height: 150px;
  }
  header .logo img {
    height: 50px;
    top: 0.5rem;
  }

  nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.75s ease-in;
  }
  nav ul {
    display: block;
    text-align: center;
    width: 100%;
  }
  nav ul li.active ul {
    position: relative;
    width: 100%;
    background: #6182B2;
    color: #999;
  }
  nav ul li ul {
    width: 100%;
  }
  nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  #menu-toggle {
    display: block;
  }

  nav.active {
    left: 0;
    z-index: 2;
  }
}
#gitePage {
  padding-top: 1rem;
}
#gitePage h1 {
  font-size: 2rem;
}
#gitePage .jumbotron {
  display: contents;
}
#gitePage .jumbotron img {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.3rem;
}
#gitePage .jumbotron .button_banner {
  display: none;
  margin: 1rem auto 0;
}
#gitePage .jumbotron h2 {
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
}
#gitePage .card {
  text-align: center;
  margin: 1rem 0.5rem;
  border: 1px solid #A5D0B6;
}
#gitePage .card .card_img {
  width: auto;
  height: 200px;
}
#gitePage .card .card_button {
  display: flex;
  margin: 1rem auto;
}
#gitePage .card .card_button .btn {
  margin: auto;
}
#gitePage .card h2 {
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
  padding: 0;
}
#gitePage .card p {
  text-align: left;
}
#gitePage .card_small {
  height: 700px;
}

@media (min-width: 576px) {
  #gitePage .jumbotron {
    background: #C3CDBA;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem 2rem 1rem 2rem;
  }
  #gitePage .jumbotron img {
    width: 100%;
    border-radius: 0.3rem;
  }
  #gitePage .jumbotron .button_banner {
    display: block;
    margin: 1rem auto 0;
  }
  #gitePage .jumbotron h2 {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
  }
  #gitePage .card h2 {
    margin-bottom: 1rem;
  }

  footer{
    background:#404746;
    width : 100%;
  }
  #modal {
    left: 30%;
  }

  #gitePage .card_small {
    height: 650px;
  }
}
