*{
  text-decoration: none;
  list-style-type: none;
}
a:hover {
  text-decoration: none;
  list-style-type: none;
}
.bg-red{background:#f00;}
.bg-green{background:#0f0;}
header, nav{
  width:100%;
}
header #logo img{
  width : 50%;
}
nav{
  background: #76B38F;
  width:100%;
  height:50px;
}

section#main{
  padding : 5px;
  width:100%;
  background : #fff;
}
section#main .container{
  width : 100%;
  /*min-height:550px;*/
  padding-bottom:10px;
  margin-bottom:10px;
}

section#main .container .jumbotron{
  background: #C3CDBA ;
  /*height:200px;*/
  width : 100%;
  margin-bottom : 30px;
  padding : 10px;
  color:#000;
}
section#main .container .jumbotron img{
  width: 100%;
  margin: 10px auto;
}
section#main .container section.activities-container{
  border-radius:4px;
  background: #C3CDBA;/*818B7D ;*/
  /*height:500px;*/
  width : 100%;

}
section#main .container section.activities-container h2{
  /*text-indent: 10px;*/
  padding: 10px;
  background: #fff;
  width:100%;
  border:3px solid #C3CDBA;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center ;
}
.activities-container .row{
  /*width:100%;*/
}
.activite-element{
  background: #fff;
  padding:10px;
  margin:5px 10px;

}
.contact-element-container{
  margin: 5px auto;
}
.contact-element{
  width:100%;
  height:50px;
  line-height: 50px;
  background: #fff;
  text-indent: 10px;
}
.icon-contact-element{
  content:" ";
  display: block;
  float: left;
  background: #76B38F;
  width: 50px;
}

.pre-footer{
  background: #49524E;
  width : 100%;
  height:70px;
}
/****** CSS WILLY ******/
/****** FOOTER ******/
footer{
  background:#404746;
  width : 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer i {
  color: #eee;
}
.wg-creditCard {
  margin-top: 10px;
}
.wg-creditCard div p {
  font-size: 13px;
  color: white;
}
.wg-creditCard div p a {
  color: white;
}
/****** END-CSS WILLY ******/
/****** END-FOOTER ******/
.text-muted{
  color:#0286E7 !important; /* #14bc03 */
}

/****** Smartphones M ******/
@media (max-width:375px) {



}

/****** Smartphones L ******/
@media (max-width:425px) {

  section#main{
    padding : 5px;
    width:100%;
  }
  section#main .container{
    width : 100%;
    /*min-height:550px;*/
  }

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wg-creditCard div p  {
    text-align: center;
  }
  footer .wg-creditCard i {
    font-size: 40px;
  }
}

/****** Large devices (desktops, 992px and up) ******/
@media (min-width: 992px) {


  header{
    background:#fff;
    width:100%;
    height: 180px;
  }
  header #logo img{
    width : 250px;
  }
  nav{
    background: #76B38F;
    width:100%;
    height:50px;
  }

  section#main{
    background : #fff;
    width:100%;
    padding : 25px;
  }
  section#main .container{
    width : 1200px;
    /*min-height:550px;*/

  }
  section#main .container .jumbotron{
    background: #C3CDBA ;
    /*height:200px;*/
    width : 100%;
    margin-bottom : 30px;
    padding : 10px;
    color:#000;
  }
  section#main .container .jumbotron img{
    width: 100%;
    margin: 10px auto;
  }
  section#main .container section.activities-container{
    border-radius:4px;
    background: #C3CDBA ;
    /*height:500px;*/
    width : 100%;
  }
  section#main .container section.activities-container h2{
    /*text-indent: 10px;*/
    padding: 10px;
    background: #fff;
    width:100%;
    border:3px solid #C3CDBA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center ;
  }
  .activities-container .row{
    width:100%;
  }

  .pre-footer{
    background: #49524E;
    width : 100%;
    height:70px;
  }
  footer{
    background:#404746;
    width : 100%;
  }

}
